:root {
  --primary-color: #4bddff;
  --secundary-color: #ffff;
  --background-Eggshell: #f4f4f4;
  --box-shadow-color: gray;
  --strikethrough-text-color: #b0b0b0;
  --pink-red-color: #ee5252;
  --apple-green-color: #48c45b;
  --secondary-button-color: #7b827c;
  --text-color: #eee;
  --primary-background-color: #e8e8e8;

}

@font-face {
  font-family: FlindersTrial-Black;
  src:
    local(FlindersTrial-Black),
    url(fonts/FlindersTrial-Black.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  background: var(--primary-background-color);
}

header {
  display: grid;
  place-content: center;
  justify-items: center;
  width: 100vw;
  background: var(--primary-color);
  color: var(--secundary-color);
}

h1 {
  font-family: FlindersTrial-Black;
  text-decoration: underline overline;
  padding: 15px;
}

strike {
  display: none;
}

h4 {
  text-decoration: overline;
  display: none;
}

main {
  display: grid;
  place-content: center;
  justify-items: center;
  grid-template-rows: repeat(2,auto);
  padding: 10px;
  height: 80vw;
}

.card {
  display: grid;
  justify-items: center;
  height: 70vw;
  background: var(--background-Eggshell);
  box-shadow: 1px 1px 5px -3px var(--box-shadow-color);
  align-items: center;
  border-radius: 10px;
}

.container {
  display: grid;
}

.task {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background: var(--secundary-color);
  padding: 10px;
  border-radius: 5px;
  width: 50vw;
  box-shadow: 1px 1px 5px -3px var(--box-shadow-color);
  min-width: fit-content;
  gap: 5px;
}

.active {
  color: var(--strikethrough-text-color);
  text-decoration: line-through;
}

.button-delete, .button-finish {
  background: var(--pink-red-color);
  color: var(--secundary-color);
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  width: 100px;
  transition: all 0.5s ease;
}

.button-finish {
    background: var(--apple-green-color);
}

.button-save {
  transition: all 0.5s ease;
}

#button:hover {
  background: var(--secondary-button-color);
  letter-spacing: 1px;
}

#new-task-form {
  display: grid;
  place-content: center;
  gap: 5px;
  padding: 10px;
}

#text-box {
  width: 80vw;
  height: 26px;
  padding-left: 5px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 3px -3px var(--box-shadow-color);
}

#new-task-form button {
  justify-self: center;
  background: var(--pink-red-color);
  color: var(--secundary-color);
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  width: 100px;
}
